$size__site-width: 100%;
$size__container-width: 90%;
$size__site-main: 100%;
$size__site-sidebar: 100%;

// SCREEN

$xs-screen: 0;
$sm-screen: 544px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;