form {
	border-radius: $element__widget-radius;
}

button,
.button:not(.wpb_button_a),
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@extend .btn;
	@extend .btn-info;
}

input[type="reset"] {
	@extend .btn-danger;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;

	&:focus {
		color: $color__text-input-focus;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
	max-width: 100%;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
