.tags a,
.category a,
.cat-links a,
a.tag {
    @extend .label;
    @extend .label-default;
    color: $color__text-button !important;
    
    &:hover,
    &:focus {
        color: $color__text-button;
    }
}

a[href*="=edit"] {
	margin-right: .25em;
	margin-left: .25em;
	@include icon-font(pencil, before);
}