//
// Labels
// --------------------------------------------------

%label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: $color__white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;

  &:visited {
    color: $color__white;
  }

  // [converter] extracted a& to a%label

  // Empty labels collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }

  // Quick fix for labels in buttons
  .btn & {
    position: relative;
    top: -1px;
  }
}

// Colors
// Contextual variations (linked labels get darker on :hover)

%label-default {
  @include label-variant($color__default);
}

%label-primary {
  @include label-variant($color__primary);
}

%label-success {
  @include label-variant($color__success);
}

%label-info {
  @include label-variant($color__info);
}

%label-warning {
  @include label-variant($color__warning);
}

%label-danger {
  @include label-variant($color__danger);
}


.tags a,
.category a,
.cat-links a,
a.tag,
.entry-terms a {
    @extend %label;
    @extend %label-default;
    color: $label-link-hover-color;
    
    &:hover,
    &:focus {
        color: $label-link-hover-color;
        text-decoration: none;
        cursor: pointer;
    }
}

a[href*="=edit"] {
	margin-right: .25em;
	margin-left: .25em;
	@include icon-font(pencil, before);
}