/**
 * Main Navigation Styles
 * Colors are set in theme file
 */
 .main-navigation {

    a {
        display: block;
        padding: .25em .5em;
    }

    ul {
        @include no-bullets;
        display: none;
        visibility: hidden;

        ul {
            margin-left: 2em;
            visibility: visible;
        }
    }

    li {
        ul {
            display: none;
            visibility: hidden;
        }

        &:hover > ul,
        &:focus > ul {
            display: block;
            visibility: visible;
        }
    }

    .menu-item-has-children > a {
        @include icon-font(angle-down, after);
    }

    @include breakpoint(md) {

        ul {
            display: block;
            visibility: visible;
            padding: 0;
            margin: 0;
            float: left;

            ul {
                position: absolute;
                margin-left: 0;
                top: 100%;
                left: 0;
                display: none;
                visibility: hidden;
                // Increase z-index to compensate for Page Builder widgets set to z-index 100
                z-index: 105;

                ul {
                    top: 0;
                    left: 100%;
                }

                li {
                    min-width: 150px;
                }

                .menu-item-has-children > a {
                    @include icon-font(angle-right, after);
                }
            }
        }
        
        li {
            float: left;
            position: relative;
        }
  
    }

}


/**
 * Main Navigation States
 */
 .main-navigation {

}