/**
 * Hover menu
 */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@include breakpoint(md) {

    .menu-toggle,
    .main-navigation ul,
    .main-navigation.toggled ul ul {
        display: none;
    }

    .menu-toggle {
        font-size: 16px;
        // font-size: 1.0rem;
        @include font-size($h6);
        margin: 1.3125em 0;
        padding: 0.8125em 0.875em 0.6875em;
    }

}