/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

.nav-links {
	.nav-previous,
	.nav-next {}
	.nav-previous {
		@include icon-font(angle-double-left, before);
	}
	.nav-next {
		@include icon-font(angle-double-right, after);
	}
}


/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

@import "menu-toggle";
@import "social-menu";
@import "top-navigation";


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 1em 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.image-navigation,
.comment-navigation {
	border-top: 1px solid $color__border-nav;
	border-bottom: 1px solid $color__border-nav;
	color: $color__text-light;
}

.site-header-menu {
	display: none;
	-webkit-flex: 0 1 100%;
	-ms-flex: 0 1 100%;
	flex: 0 1 100%;
	margin: 0.875em 0;
	&.toggled-on {
		display: block;
	}
}
.no-js {
	.site-header-menu {
		display: block;
	}
	.main-navigation ul ul {
		display: block;
	}
}

.footer-menu,
.bottom-navigation {
    ul {
       @include inline-list;

       li:not(:last-child) {
        margin-right: 1em;
       }
       .current-menu-item {
            font-weight: bold;
       }
    }
}