#masthead {

    .custom-header {
        img {
            width: 100%;
            height: auto;
        }
    }

    .site-branding {
        clear: both;
        @include clearfix;
        padding: 1em;
        text-align: center;

        .site-logo-link,
        .social-links {
            display: block;
            text-align: center;
        }

        .site-logo-link {
            min-width: 100px;

            .site-logo {
                height: 100px;
                width: auto;
            }

        }

        .social-links {
            ul {
                display: table;
                vertical-align: middle;
                li {
                    display: table-cell;
                }
            }
        }

    }

    .header-widgets {
        .align-center ul {
            text-align: center;
        }
        .align-right ul {
            text-align: right;
        }
    }

    .site-title,
    .site-title a,
    .site-description {}

    .site-title {
        @include font-size($h6);
        font-weight: 400;
        margin: 0 .5em 0 0;
        text-align: center;

        @include breakpoint(md) {
            @include font-size($h5);
            display: inline-block;
            text-align: left;
        }
        
        @include breakpoint(lg) {
            @include font-size($h4);
        }
    }

    .site-description {
        display: none;

        @include breakpoint(md) {
            @include font-size($h4);
            margin: 0;
            font-weight: 300;
            display: inline-block;
        }
        
        @include breakpoint(lg) {
            @include font-size($h3);
        }

    }

}

@include breakpoint(md) {

    #masthead {

        width: 100%;

        .site-branding-container {

            display: -ms-flex;
            display: -webkit-flex;
            display: flex;
            flex-wrap: no-wrap;
            text-align: left;
            align-items: center;
            justify-content: center;

            .site-logo-link,
            .site-description,
            .social-links {
                text-align: left;
                vertical-align: middle;
            }

            .site-logo-link {}

            .site-description {
                padding-left: .5em;
                flex: 1;
            }

        }

        .social-links {
            text-align: right;
        }

    }


}
