#masthead {

    .custom-header {
        img {
            width: 100%;
            height: auto;
        }
    }

    .site-branding {
        clear: both;
        @include clearfix;
        padding: 1em;
        text-align: center;

        .site-logo-link,
        .social-links {
            display: block;
            text-align: center;
        }

        .site-logo-link {
            width: 100px;

            .site-logo {
                height: 100px;
                width: auto;
            }

        }

        .social-links {
            ul {
                display: table;
                vertical-align: middle;
                li {
                    display: table-cell;
                }
            }
        }


        @include breakpoint(md) {

            width: 100%;

            .site-branding-container {

                display: table;

                .site-logo-link,
                .site-description,
                .social-links {
                    display: table-cell;
                    text-align: left;
                    vertical-align: middle;
                }

                .site-description {
                    padding-right: .5em;
                    padding-left: .5em;
                }

            }
        }


    }

    .header-widgets {
        .align-center ul {
            text-align: center;
        }
        .align-right ul {
            text-align: right;
        }
    }

    .site-title,
    .site-title a,
    .site-description {}

    .site-title {
        @include font-size($h6);
        font-weight: 400;
        margin: 0 .5em 0 0;
        text-align: center;

        @include breakpoint(md) {
            @include font-size($h5);
            display: inline-block;
            text-align: inherit;
        }
        
        @include breakpoint(lg) {
            @include font-size($h4);
        }
    }

    .site-description {
        display: none;

        @include breakpoint(md) {
            @include font-size($h4);
            margin: 0;
            font-weight: 300;
            display: inline-block;
        }
        
        @include breakpoint(lg) {
            @include font-size($h3);
        }

    }

}
