
.layout-2c-r,
.layout-2c-l {

	&:not(.page-template-template-front) {
		#primary {
			@include make-md-column(9);
		}
		#secondary {
			@include make-md-column(3);
		}

		#primary,
		#secondary {
			padding-right: 0;
			padding-left: 0;
		}
	}
}

.layout-2c-r {

	&:not(.page-template-template-front) {
		#primary {}
		#secondary {}
		@include breakpoint(md) {
			#primary {
				padding-right: .5em;
			}
			#secondary {
				padding-left: .5em;
			}
		}
	}
}

.layout-2c-l {

	&:not(.page-template-template-front) {
		
		#primary {
			@include make-md-column-push(3);
		}
		#secondary {
			@include make-md-column-pull(9);
		}	
		@include breakpoint(md) {
			#primary {
				padding-left: .5em;
			}
			#secondary {
				padding-right: .5em;
			}
		}
	}
}

.layout-1c {}

.layout-grid {
	.entries-list {
		.entry {
			@include border(bottom, 1em, $color__background-hr)

			padding-right: 0;
			padding-left: 0;
		}
	}
}

$padding: $gutter__column * 3;

@include breakpoint(sm) {
	.layout-grid {
		.entries-list {
			display: flex;
			flex-wrap: wrap;
			padding: 0;

			.entry {
				margin: $padding/2;
				padding: .5em;
				flex: 0 0 calc(50% - #{$padding});
				justify-content: space-between;
				border: 1px solid $color__background-hr;
				border-radius: $element__border-radius-small;
			}

			.entry-title {
				margin-top: 0;
				margin-bottom: .5em;
			}

			.jetpack-video-wrapper {
				margin-bottom: 0;
			}
		}
	}
}

@include breakpoint(md) {
	.layout-grid {
		.entries-list {
			.entry {
				flex-basis: calc(33% - #{$padding});
			}
		}
	}
}

@include breakpoint(lg) {
	.layout-grid {
		.entries-list {
			.entry {
				flex-basis: calc(25% - #{$padding});
			}
		}
	}
}
