.widget {
	// margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

.header-widgets,
.content-widgets,
.footer-widgets,
.home-widgets {

    transition: all 2s ease;

    &.per-row-2 {
        .widget:not(.widget_siteorigin-panels-builder) {
            @include make-md-column(6);
        }  
    }

    &.per-row-3 {
        .widget:not(.widget_siteorigin-panels-builder) {
            @include make-md-column(4);
        }       
    }

    &.per-row-4 {
        .widget:not(.widget_siteorigin-panels-builder) {
            @include make-md-column(4);
        }
    }

    &.per-row-2,
    &.per-row-3,
    &.per-row-4 {
        .widget:not(.widget_siteorigin-panels-builder) {
            padding: 0;

            @include breakpoint(md) {
                padding-right: 1em;
                padding-left: 1em;
            }
        }
    }

    &.per-row-2 {
        .widget:not(.widget_siteorigin-panels-builder) {

            @include breakpoint(md) {
                &:nth-child(2n+1) {
                    padding-left: 0;
                }
                &:nth-child(2n) {
                    padding-right: 0;
                }
                &:nth-child(3n) {
                    clear: both;
                }
            }
        }
    }

    &.per-row-3,
    &.per-row-4 {
        .widget:not(.widget_siteorigin-panels-builder) {

            @include breakpoint(md) {
                &:nth-child(3n+1) {
                    padding-left: 0;
                }
                &:nth-child(3n) {
                    padding-right: 0;
                }
                &:nth-child(4n) {
                    clear: both;
                }
            }
        }
    }

}
