/**
 * Material Color Palette
 * http://www.color-hex.com/color-palette/3714
 */
$colors__theme: (
  'primary': #9e9e9e, 
  'accent': #607d8b,
  'secondary':  #ff5722,
  'foreground': #000,
  'background': #fff,
);

$color__primary: color($colors__theme, 'primary');
$color__secondary: color($colors__theme, 'secondary');
$color__tertiary: color($colors__theme, 'accent');
$color__accent: color($colors__theme, 'accent');
$color__highlight: color($colors__theme, 'accent');
$color__background: transparent;
$color__foreground: color($colors__theme, 'foreground');
