/**
 * Gray Color Palette
 * http://www.color-hex.com/color-palette/2280
 */
$color__primary: #343d46; //rgb(52,61,70)
$color__secondary: #4f5b66; //rgb(79,91,102)
$color__tertiary: #65737e; //rgb(101,115,126)
$color__tertiary2: #a7adba; //rgb(167,173,186)
$color__highlight: #c0c5ce; //rgb(192,197,206)