/**
 * Material Color Palette
 * http://www.color-hex.com/color-palette/3714
 */
$color__primary: #9e9e9e; //rgb(158,158,158)
$color__secondary: #ff5722; //rgb(255,87,34)
$color__tertiary: #607d8b; //rgb(101,115,126)
$color__tertiary2: #ffffff; //rgb(255,255,255)
$color__highlight: #000000; //rgb(0,0,0)
