/**
 * Gray Color Palette
 * http://www.color-hex.com/color-palette/2280
 */

$colors__theme: (
  'primary': #343d46, 
  'accent': #65737e,
  'secondary':  #4f5b66,
  'foreground': #000,
  'background': #fff,
);

$color__primary: color($colors__theme, 'primary');
$color__secondary: color($colors__theme, 'secondary');
$color__tertiary: color($colors__theme, 'accent');
$color__accent: color($colors__theme, 'accent');
$color__highlight: color($colors__theme, 'accent');
$color__background: transparent;
$color__foreground: color($colors__theme, 'foreground');