/******************************************************************
 THEME - Default colors
******************************************************************/

/**
 * Customizer support
 */
span:empty {
    display: none;
}

.page-title {}

.entry {

    &:not(:last-child) {
      @include border(bottom, 1em);  
    }
}

.entry-meta,
.meta,
.pagination {
    color: $color__text-meta;
}


body {
    background-color: $color__background-body;
    color: $color__text-main;
}

a {
    color: $color__link;

    &:visited {
        color: $color__link;
    }

    &:hover,
    &:focus {
        color: $color__link-hover;
    }
    &:focus {
        outline: thin dotted;
    }
}


/**
 * Header elements color
 */
#masthead {
    .widgets-header {}
    .site-branding {
        background-color: $color__background-body;
        border-top-right-radius: $element__border-radius-base;
        border-top-left-radius: $element__border-radius-base;
        color: $color__text-main;
            .site-title,
            .site-title a,
            .site-description {
                color: $color__text-main;
            }
    }

    .custom-header {
        background-color: $color__background-body;
        border-top-right-radius: $element__border-radius-base;
        border-top-left-radius: $element__border-radius-base;
        color: $color__text-main;

        img {}
    }

    .main-navigation {

        border-top: 1px solid $color__border-nav;

        &.toggled {}

        ul {

            li {
                
                border-radius: $element__border-radius-base;

                &:not(:last-child) {
                    border-bottom: 1px solid $color__border-nav;
                }

                &:hover,
                &:focus {
                    a {}
                }
            }

            ul {
                border: none;

                li {
                    &:hover,
                    &:focus {
                        a {}
                    }
                }
            }

            a {
                border-radius: $element__border-radius-base;
                &:hover,
                &:focus {
                    background-color: $color__background-nav-hover;
                    color: $color__text-nav;
                }
            }

            .current-menu-item > a,
            .current-menu-ancestor > a {
                font-weight: bold;
            }

            .nav-menu {}
        }

        @include breakpoint(md) {
            border-radius: $element__border-radius-base;

            li:hover,
            li:focus {
                &> a {}
            }

            ul {
                li:not(:last-child) {
                    border-bottom-width: 0;
                }

                ul {
                    background-color: $color__background-nav;
                    border-bottom: 1px solid $color__border-nav;
                    box-shadow: 2px 2px 2px $color__border-nav;

                    li {
                        border-bottom-width: 0;
                        border-radius: $element__border-radius-base;
                    }
                }
            }
        }

    }
    
    .social-links {
        a {
            border: 1px solid $color__secondary;
            border-radius: 50%;
            color: $color__primary;

            &:before {
                color: $color__primary;
            }
        }
    }

    .menu-toggle {
        background-color: $color__secondary;
    }
}

/**
 * Content elements color
 */
#content {
    .content-area {
        background-color: $color__background-content;
    }
}

/**
 * Primary Sidebar Styles
 */
#secondary {

    .wrap {
        border-top: 2px solid $color__link;
        border-bottom: 2px solid $color__link;
    }

    .widget {
        h3.widgettitle,
        h3.widget-title {}

        .entry-meta {}

        a {

            &:hover,
            &:focus {}
        }

        ul {}
        li {
            
            /* deep nesting */
            li {}
        }

    } 
}

/**
 * Footer elements color
 */
#colophon {

    .footer-widgets {
        background-color: $color__background-body;

        .wrap {
            border-top-width: 0;
            border-bottom-width: 0;
            background-color: rgba($color__white, .5);
        }
    }

    .bottom-navigation,
    .copyright {
        color: $color__text-inverted;
        a {
            color: $color__text-inverted;
        }

        a:hover,
        a:focus {
            color: $color__text-inverted;
        } 
    }

    .bottom-navigation {
        background-color: $color__secondary;
        color: $color__text-inverted;
    }
    .copyright {
        background-color: $color__primary;
        color: $color__text-inverted;
    }
}

.home .entry.intro-content {
        border-top: 5px solid $color__primary;
        border-bottom: 5px solid $color__primary;
        background-color: $color__background-body;
        border-radius: $element__border-radius-base;
}


/**
 * Secondary Widget Styles
 */
.content-widgets,
.home-widgets {

    .wrap {}

    .widget {

        h3.widgettitle,
        h3.widget-title {}

        a {

            &:hover,
            &:focus {}
        }

        ul {}
        li {            
            /* deep nesting */
            li {}
        }
    }
}

/**
 * Footer Widgets
 */
.footer-widgets {
    .wrap {}
}

/**
 * Taxonomy Filters
 */
.taxonomy-filters {
    a {
        @include button($bg-color: $color__white);
        border: 1px solid $color__light-grey;

        &.active {
            @include button($bg-color: $color__light-grey);
        }
    }
}


.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
    .date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
    .search-results {}              /* search result page */
    .search-no-results {}           /* no results search page */
    .search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
    .postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
    .single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
    .attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
    .attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
    .author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
    .author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
    .category-1 {}                  /* individual category page (i.e. body.category-6) */
    .category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
    .tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
    .tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
    .page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
    .page-paged-1 {}                /* replace the number to the corresponding page number */
    .page-parent {}                 /* parent page template */
    .page-child {}                  /* child page template */
    .parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
    .paged-1 {}                     /* individual paged (i.e. body.paged-3) */




