html {
    line-height: $font__line-height-body;
    font-size: $font__size-default;

}


body,
button,
input,
select,
textarea,
li {
	color: $color__text-main;
	font-family: $font__main;

    @include font-size(.9);
    
    @include breakpoint(md) {
        @include font-size(.95);
    }
    @include breakpoint(lg) {
        @include font-size(1);
    }
	line-height: $font__line-height-body;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    color: $color__text-headings;
    font-family: $font__heading;
    line-height: $font__line-height-headings;
}


h1 {
    @include font-size($h3);
    margin-bottom: $space;

    @include breakpoint(md) {
        @include font-size($h2);
    }

    @include breakpoint(lg) {
        @include font-size($h1);
    }
}

h2 {
    @include font-size($h4);

    @include breakpoint(md) {
        @include font-size($h3);
    }
    
    @include breakpoint(lg) {
        @include font-size($h2);
    }

}

h3 {
    @include font-size($h5);

    @include breakpoint(md) {
        @include font-size($h4);
    }
    
    @include breakpoint(lg) {
        @include font-size($h3);
    }
}

h4 {
    @include font-size($h6);

    @include breakpoint(md) {
        @include font-size($h5);
    }
    
    @include breakpoint(lg) {
        @include font-size($h4);
    }
}

h5 {
    @include font-size($small);

    @include breakpoint(md) {
        @include font-size($h6);
    }
    
    @include breakpoint(lg) {
        @include font-size($h5);
    }
}

h6 {
    @include font-size($small);

    @include breakpoint(lg) {
        @include font-size($h6);
    }

    margin-bottom: $space-half;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
    @include font-size(1.25);
}

a {
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}