/**
 * BuddyPress Header Style
 */

@import "variables/variables";
@import "common/mixins";


.bp-user #buddypress {

    #cover-image-container {

        #header-cover-image {
            display: block;
            max-height: 200px;
            width: 100%;
            overflow: hidden;
        }

        #item-header-content {
            text-align: center;
            width: 100%;
            clear: both;
        }

    }


    @include breakpoint(md) {

        #cover-image-container {
            position: relative;
            
            #header-cover-image {
                background-color: $color__background-panel;
                background-position: center top;
                background-repeat: no-repeat;
                background-size: cover;
                border: 0 none;
                display: block;
                left: 0;
                margin: 0;
                padding: 0;
                position: absolute;
                top: 0;
                width: 100%;
                
            }

            #item-header-cover-image {
                padding: 0 1em;
                position: relative;
                
            }

        }

        #item-header-avatar {
            float: left;
            width: 20%;
            margin-top: 145px;
            overflow: visible;
        }

        #item-header-content {
            clear: both;
            float: left;
            margin-left: 170px;
            margin-top: -140px;
            width: auto;

            h2 {
                color: $color__white;
            }
        }

    }

    @include breakpoint(lg) {

        #cover-image-container {
            position: relative;
            
            #header-cover-image {
                background-color: $color__background-panel;
                background-position: center top;
                background-repeat: no-repeat;
                background-size: cover;
                border: 0 none;
                display: block;
                left: 0;
                margin: 0;
                padding: 0;
                position: absolute;
                top: 0;
                width: 100%;
                
            }

            #item-header-cover-image {
                padding: 0 1em;
                position: relative;
                
            }

        }

        #item-header-avatar {
            float: left;
            width: 20%;
            margin-top: 145px;
            overflow: visible;
        }

        #item-header-content {
            clear: both;
            float: left;
            margin-left: 170px;
            margin-top: -140px;

        }
    }


}