.home {
    .anp-network-main-hero {
        img {
            width: 100%;
            height: auto;
        }
    }

    .entry.intro-content {
        padding: 1.5em;
        text-align: center;

        @extend .jumbotron;

        button {
            @include button-variant($color__text-button, $color__background-button, $color__border-button);
            @extend .btn;
            @extend .btn-danger;
            @extend .btn-lg;
        }

        @include breakpoint(md) {
            padding: 0 0 2em 0;
            background-color: transparent;
            text-align: inherit;
        }

    }

    .entry.empty {
        display: none;
    }

}
